/* ==== Common styles ==== */

#popup-container {
  width: 248px;
  height: 160px;
  display: flex;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  padding: 10px 15px 20px 15px;
  box-sizing: border-box;
}

label input {
  display: none;
}

.custom-select {
  background-color: #282828;
  color: white;
  border: 0px;
  padding: 6px;
  max-width: 200px;
  font-size: 14px;
  border-radius: 4px;
  scrollbar-width: thin;
  scrollbar-color: #555 #1a1a1a;
}

.custom-select::-webkit-scrollbar {
  width: 12px;
}

.custom-select::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

.custom-select::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 10px;
  border: 3px solid #282828;
}

.custom-select::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* ==== Styles for translated text ==== */

.translated-text {
  color: #ffffff;
  font-size: 25px;
  margin-top: -16px;
  opacity: 0.8;
  font-weight: 350;
  font-style: italic;
}

.translated-text.passed {
  opacity: 1;
  font-weight: 350;
  color: rgba(255, 255, 255, 1);
}

/* ==== Styles for main page ==== */

.h-wrapper {
  color: white;
  font-size: 10px;
  margin-bottom: 0px;
  max-width: 210px;
  font-weight: 500;
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.settings-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ==== Toggle styles ==== */

.toggle-class {
  display: flex;
  -ms-flex-align: ;
}

#toggle {
  position: relative;
  margin-top: 3px;
  display: block;
  width: 1cm;
  height: 0.5cm;
  background: #B3B3B3;
  border: 2px solid transparent;
  border-radius: 110px;
  transition: 300ms;
  cursor: pointer;
}

#toggle-circle {
  position: absolute;
  width: 0.5cm;
  height: 0.5cm;
  background: #fff;
  border-radius: 100%;
  left: 0px;
  transition: 300ms;
  cursor: pointer;
}

label input[type=checkbox]:checked + #toggle > #toggle-circle {
  left: 19px;
  background: #ffffff;
  transition: 300ms;
}

label input[type=checkbox]:checked + #toggle {
  background: #1DB954;
  border: 2px solid transparent;
  transition: 300ms;
}

/* ==== Navigation links ==== */

.navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.navigation a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 12px;
  transition: color 0.2s ease-in-out;
}

.navigation a:hover {
  color: #ffffff;
}

/* ==== Some styles ==== */

.main-page-wrapper, .settings-page-wrapper {
  display: none;
  margin-bottom: 15px;
}

.visible {
  display: block;
}