

/* page styles */
.translated-text{
    color: #ffffff;
    font-size: 25px;
    margin-top: -23px;
    opacity: 0.8;
    font-weight: 350;
    font-style: italic;
}



/* popup styles */

.h-wrapper {
    color: white;
    font-size: 9px;
    margin-bottom: 0px;
    max-width: 200px;
    font-weight: 500;
}

.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#target-lang {
background-color: #282828;
color: white;
max-width:200px;
border: 0px;
padding: 6px;
scrollbar-color: red yellow;
}

select.widthHeight::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  
select.style::-webkit-scrollbar-track {
    border: rgb(180, 180, 180);
    background-color: rgb(14, 14, 14);
}
  
select.style::-webkit-scrollbar-thumb {
    background-color: #ffffff0e;
}


body{
    background:#1f1f1f;
    padding-left: 15px;
    padding-right: 15px !important;
    padding-bottom: 20px !important;
    padding-top: 5px;
  }

  label input{
    display:none;
    
  }
  .toggle-class{
    display: flex;
    -ms-flex-align: ;
  }
  #toggle{
    position:relative;
    margin-top: 3px;
    display:block;
    width:1cm;
    height:0.5cm;
    background:#B3B3B3;
    border:2px solid transparent;
    border-radius:110px;
    transition:300ms;
    cursor:pointer;
  }
  #toggle-circle{
    position:absolute;
    width:0.5cm;
    height:0.5cm;
    background:#fff;
    border-radius:100%;
    left:0px;
    transition:300ms;
    cursor:pointer;
  }
  
  label input[type=checkbox]:checked + #toggle>#toggle-circle{
    left:19px;
    background:#fff;
    transition:300ms;
  }
  
  label input[type=checkbox]:checked + #toggle{
    background:#1DB954;
    border:2px solid transparent;
    transition:300ms;
  }

  .about {
    /* color: rgba(255, 255, 255, 0.8);  */
    /* text-decoration: none; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-top: 10px;
}

  .about a {
    color: rgba(255, 255, 255, 0.8); /* Базовый цвет */
    text-decoration: none;
    font-size: 12px;
    transition: color 0.2s ease-in-out; /* Плавное изменение цвета */
}

  .about a:hover {
    color: rgba(255, 255, 255, 1); /* При наведении немного светлее */
}